<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html>
<head>
<title>Stunning A Travel Agency Flat Bootstarp Resposive Website Template | About :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Stunning Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--flexslider-css-->
<!--bootstrap-->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--coustom css-->
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,800italic,800,700italic,700,600,600italic' rel='stylesheet' type='text/css'>
<!--/fonts-->
<!--script-->
<script src="js/jquery.min.js"> </script>
	<!-- js -->
		 <script src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!--/script-->
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/style4.css" />
	</head>
	<body>
		<div class="header" id="home">
		<nav class="navbar navbar-default">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img style="width: 105px;" src="images/logo.png" alt=""></a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right margin-top cl-effect-2">
								<li><a href="index.html"><span data-hover="Inicio">Inicio</span></a></li>
								<li><a href="about.html"><span data-hover=" Quienes Somos?"> Quienes Somos?</span></a></li>
								 <li class="dropdown" style="background-color: none !important;">
						          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-expanded="false" style="font-family: 'Pompiere-Regular';font-size: 20px; color: white;font-weight:bold;">Lineas de investigación <span class="caret"></span></a>
						          <ul class="dropdown-menu" style="background-color: #ccc;">
						            <li><a href="#" >Paz, Seguridad y Postconflicto</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="#">Comunidades y medio ambiente sostenible</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="#">Fortalecimiento institucional</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="#">Modernización de gobiernos locales</a></li>
						          </ul>
						        </li>
								<li><a href="gallery.html"><span data-hover="Proyectos">Proyectos</span></a></li>
								<li><a href="gallery.html"><span data-hover="Galería">Galería</span></a></li>
								<li><a href="centroDocumentación.html"><span data-hover="Centro de Documentación">Centro de Documentación</span></a></li>
								<li><a href="contact.html"><span data-hover="Contactenos">Contactenos</span></a></li>
							</ul>
							<div class="clearfix"></div>
						</div><!-- /.navbar-collapse -->
						<div class="clearfix"></div>
				</div><!-- /container-fluid -->
			</nav>
			<div class="header-banner">
					<!-- Top Navigation -->
					<section class="bgi banner5"><h2>Quienes somos?</h2> </section>
					   
<!--about-starts--> 
	<div class="about">
		<div class="container" style="margin-bottom: 40px;">
			<div class="about-top heading">
				<p style="font-size:20px; ">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam et dignissim augue, et sagittis turpis. Vestibulum congue turpis ac tincidunt accumsan. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orc i ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. </p>
				
			</div>
		</div>

		<div class="container" style="width:100%;">
			<div class="row" style="padding-top: 30px;padding-bottom: 30px;" >
				<div class="col-md-8">
					<h2 style="font-size: 40px; font-weight: 900; color: #48A6DA;" >Misión</h2>
					<p style="font-size:20px; color: #999;">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima possimus vel totam exercitationem numquam! Quibusdam architecto perferendis beatae id dignissimos natus quam ipsum veniam provident exercitationem, pariatur modi, nostrum necessitatibus.
					</p>
				</div>
				<div class="col-md-4">
					<img src="images/vision.jpg" alt="mision" style="width:300px; height:400px; ">
				</div>
			</div>
				
		</div>
			<div class="container"   style="width:100%;">
				<div class="row" style="padding-top: 30px;padding-bottom: 30px;" >
					<div class="col-md-4">
						<img src="images/vision.jpg" alt="vision" style="width:300px; height:400px; margin-left: 40px;">
					</div>
					<div class="col-md-8">
						<h2 style="font-size: 40px; font-weight: 900; color: #48A6DA;">Visión</h2>
						<p style="font-size:20px; color: #999;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima possimus vel totam exercitationem numquam! Quibusdam architecto perferendis beatae id dignissimos natus quam ipsum veniam provident exercitationem, pariatur modi, nostrum necessitatibus.
						</p>
					</div>
				</div>	
			</div>
			
		
	</div>

		</div>
</div>
<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<div class="col-md-3 footet-left">
					<h3>INFORMATION</h3>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="typography.html">Shortcodes</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3 footet-left">
					<h3>CATEGORIES</h3>
					<ul>
						<li><a href="#">Travlio</a></li>
						<li><a href="#">Whizz</a></li>
						<li><a href="#">Sayohat</a></li>
						<li><a href="#">Turistik</a></li>
						<li><a href="#">Excursion </a></li>
					</ul>
				</div>
				<div class="col-md-3 footet-left">
					<h3>MY ACCOUNT</h3>
					<ul>
						<li><a href="#">My account</a></li>
						<li><a href="#">My addresses</a></li>
					</ul>
				</div>
				<div class="col-md-3 footet-left">
					<h3>NEWSLETTER</h3>
					<div class="sub-text">
						<input type="text" value="Enter Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email';}"/>
						<input type="submit" value="" >
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="copy-rights">
				<p>&copy; 2015 Stunning. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
			</div>
		</div>
<!---->
</div>
			<!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!----> 
	</body>
</html>
