{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="header-banner">
					<!-- Top Navigation -->
					<section class="bgi banner5"><h2>Centro de Documentación</h2> </section>
					   
<!--about-starts--> 
	<div class="about">
		
	      <div class="container">
	      	<div class="row">
	      		<div class="col-md-2"></div>
	      		<div class="col-md-8">
	      			<table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre del documento</th>
                  <th>Archivo</th>
                  
                </tr>
              </thead>
              <tbody>
              {% for documento in documentos %}
                <tr>
                  <td>{{documento.pk}}</td>
                  <td>{{documento.nombre}}</td>
                  <td> <a href="{{documento.archivo.url}}">Descargar</a>  </td>
                  
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
	      		</div>
	      		<div class="col-md-2"></div>
	      	</div>
	      </div>

		
			
			
		
</div>
	</div>

			<!---->
{% endblock %}