{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap_tags %}
{% block extracss  %}
<style>
	div#map {
  		width: 100%; height: 100%;
	}
</style>
 {% endblock %}
{% block content %}

<div class="header-banner">
					<!-- Top Navigation -->
	<section class="bgi banner5"><h2>Contactanos</h2> </section>
					
	<!-- contact -->
	<div class="contact-top">
		<!-- container -->
		<div class="container">
			<div class="mail-grids">
				<div class="col-md-6 ">
					<h2>Fundación Raices para el Desarrollo</h2>
					
					
					<br>
					<p>Telefono 1: 4 20 12 07
					<p>Telefono 2: 4 20 12 07
					<br>
						Correo Electronico: <a href="raicesparaeldesarrollo@gmail.com">raicesparaeldesarrollo@gmail.com</a>
					</p>

					<div id="map" style="width:100%;padding: 20px 0px;">
					
					</div>
				</div>
				<div class="col-md-6 contact-form"> 
					<form method="post">
					
						{% csrf_token %}
    					{{ form|as_bootstrap }}
						<input type="submit" value="Enviar">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
		<!-- //container -->
	</div>

		
</div>

{% endblock %}
<!----> 
{% block extrajs %}
 
<script src="{% static "js/gmaps.min.js"%}"></script>
<script>

url = GMaps.staticMapURL({
  size: [500, 300],
  lat: 11.240450,
  lng: -74.210890,
  markers: [
    {lat: 11.224306, lng:  -74.186634},
    {lat: 11.240450, lng: -74.210890,
      size: 'big'},
    {lat: -12.045633, lng: -77.022,
      color: 'blue'},
  ]

});

$('<img/>').attr('src', url)
  .appendTo('#map');
</script>

{% endblock %}

