{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

			<div class="header-banner">
					<!-- Top Navigation -->
					<section class="bgi banner5"><h2>Contact</h2> </section>
					
	<!-- contact -->
	<div class="contact-top">
		<!-- container -->
		<div class="container">
			<div id="map" class="map footer-middle">
				
			</div>
			<div class="mail-grids">
				<div class="col-md-6 mail-grid-left">
					<h3>Address</h3>
					<h5>Cras porttitor imperdiet volutpat nulla malesuada lectus erosut convallis felis consectetur ut</h5>
					<h4>Headquarters</h4>
					<p>123 T. Globel Place.
						<span>CG 09-123</span>
						Italy, Ba. 4567
					</p>
					<h4>Get In Touch</h4>
					<p>Telephone: +1 234 567 9871
						<span>FAX: +1 234 567 9871</span>
						E-mail: <a href="mailto:info@example.com">mail@example.com</a>
					</p>
				</div>
				<div class="col-md-6 contact-form">
					<form>
						<input type="text" placeholder="Name" required="">
						<input type="text" placeholder="Email" required="">
						<input type="text" placeholder="Subject" required="">
						<textarea placeholder="Message" required=""></textarea>
						<input type="submit" value="SEND">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //contact -->
		</div>
</div>

{% endblock %}
<!----> 
{% block extrajs %}
 <script src= "{% static "js/gmaps.js" %}"></script>
<script>
	var img = "images/logo.png";
	url = GMaps.staticMapURL({
	  size: [500, 300],
	  lat:11.240501,
	  lng: -74.186634,
	  icon: img,
	  markers: [
	    {lat: 11.224306, lng:  -74.186634},
	    {lat: -12.045333, lng: -77.034,
	      size: 'small'},
	    {lat: -12.045633, lng: -77.022,
	      color: 'blue'}
	  ]
	});

	$('<img/>').attr('src', url)
	  .appendTo('#map');
</script>

{% endblock %}

