{% extends "base.html" %}

{% load staticfiles %}

{% block content %}


<div class="header-banner">
					<!-- Top Navigation -->
		<section class="bgi banner5"><h2>Fortalecimiento institucional</h2> </section>
					   
<!--about-starts--> 
	<div class="about">
		
		<div class="container">
				<div class="row">
					<p style="font-size: 20px;color: #999;">{% autoescape off %}{{fortalecimiento.descripcion}}{% endautoescape %}</p>		
				</div>
			</div>
		
			
			
		
	</div>

</div>
{% endblock %}

	