{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
			
<div class="header-banner">
					<!-- Top Navigation -->
		<section class="bgi banner5"><h2>Galeria de Imagenes</h2> </section>
							<!--gallery-->
	<div class="gallery" id="gallery">
		<div class="container">
			 {% for imagen in imagenes %}		
			<div class="gallery-grids">
				<section>
					<ul id="da-thumbs" class="da-thumbs">
						<li>
							<a href="{{ imagen.imagen.url }}" target="_blank" class="b-link-stripe b-animate-go  thickbox">
								<img src="{{ imagen.imagen.url }}" alt="" style="height: 400px;"/>
								<div>
									<h5>{{imagen.nombre}}</h5>
									<span>{{imagen.descripcion}}</span>
								</div>
							</a>
						</li>
						
					</ul>
				</section>
	        </div>
	        {% endfor %}
<!--script-->
		</div>
	</div>
<!--//gallery-->
</div>

{% endblock %}

{% block extrajs  %}
<script src="{% static "js/jquery.min.js" %}"> </script>
	<script type="text/javascript" src="{% static "js/jquery.hoverdir.js" %}"></script>	
		<script type="text/javascript">
			$(function() {
			
				$(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

			});
		</script>
<script src="{% static "js/modernizr.custom.97074.js" %}"></script>    
 {% endblock %}


