{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
		<div class="header" id="home" >
			
			<div class="header-banner">
					<!-- Top Navigation -->
					<div class="container page-seperator">
						<section class="color bgi" >
							<div class="container"> 
								<div class="banneer-text">
								<h3>FUNDACIÓN RAICES PARA EL DESARROLLO</h3>
								<h4>{% autoescape off %}{{data.presentacion}}{% endautoescape %}</h4>
								</div>
							</div>
							<div class="clearfix"> </div>
						</section>
					</div>
			</div>
		</div>
					

{% endblock %}
