<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html>
<head>
<title>RAICES PARA EL DESARROLLO</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--coustom css-->
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,800italic,800,700italic,700,600,600italic' rel='stylesheet' type='text/css'>

<style>
	.dropdown li a{
		font-family: 'Pompiere-Regular';font-size: 20px; color: white;font-weight:bold;
	}
	.open{
		background-color: none;
	}
</style>
	</head>
	<body>
		<div class="header" id="home" >
			<nav class="navbar navbar-default">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img style="width: 105px;" src="images/logo.png" alt=""></a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right margin-top cl-effect-2">
								<li><a href="index.html"><span data-hover="Inicio">Inicio</span></a></li>
								<li><a href="about.html"><span data-hover=" Quienes Somos?"> Quienes Somos?</span></a></li>
								 <li class="dropdown" style="background-color: none !important;">
						          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-expanded="false" style="font-family: 'Pompiere-Regular';font-size: 20px; color: white;font-weight:bold;">Lineas de investigación <span class="caret"></span></a>
						          <ul class="dropdown-menu" style="background-color: #444444;">
						            <li><a href="paz.html">Paz, Seguridad y Postconflicto</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="comunidades.html">Comunidades y medio ambiente sostenible</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="fortalecimiento.html">Fortalecimiento institucional</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="modernizacion.html">Modernización de gobiernos locales</a></li>
						          </ul>
						        </li>
								<li><a href="proyecto.html"><span data-hover="Proyectos">Proyectos</span></a></li>
								<li><a href="gallery.html"><span data-hover="Galería">Galería</span></a></li>
								<li><a href="centroDocumentacion.html"><span data-hover="Centro de Documentacion">Centro de Documentación</span></a></li>
								<li><a href="contact.html"><span data-hover="Contactenos">Contactenos</span></a></li>
							</ul>
							<div class="clearfix"></div>
						</div><!-- /.navbar-collapse -->
						<div class="clearfix"></div>
				</div><!-- /container-fluid -->
			</nav>
			<div class="header-banner">
					<!-- Top Navigation -->
					<div class="container page-seperator">
					<section class="color bgi" >
						<div class="container"> 
						<div class="banneer-text">
						<h3>FUNDACIÓN RAICES PARA EL DESARROLLO</h3>
						<h4>Fundación Raíces para el Desarrollo es una organización sin ánimo de lucro, con el propósito de generar conocimiento cualificado para la incidencia en la formulación de las políticas públicas, el fortalecimiento institucional, el desarrollo económico y social de las comunidades y así como mecanismo para aportar a la construcción de la paz y la reconciliación nacional.</h4>
						</div>
					
						<div class="clearfix"> </div>
					</section>
					</div>
					</div>
					<!--<section class="col-3 ss-style-doublediagonal our-features">
							<div class="container"> 
							<h2>Our features</h2>
							<p>Paragraphs lorem ipsum simply a dummy text to format fonts and</p>
							<div class="col-md-4 column our-feat">
									<h3>Format fonts lorem ipsum simply a dummy text to and paragraphs</h3>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
								</div>
										<div class="col-md-4 column our-feat">
									<h3>Lorem ipsum simply a dummy text to format fonts and paragraphs</h3>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
								</div>
										<div class="col-md-4 column our-feat">
									<h3>A dummy text to format fonts and paragraphs lorem ipsum simply</h3>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
								</div>
							</div>
							<div class="clearfix"> </div>
					 </section>
				</div>
					
				<div class="index-abt">
					<div class="container">
						<div class="col-md-3 index-abt1">
							<div class="abt-img"><i class="glyphicon glyphicon-euro"> </i></div>
								<h3>Voluptatem</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>

						</div>
						<div class="col-md-3 index-abt1">
							<div class="abt-img"><i class="glyphicon glyphicon-share"> </i></div>
								<h3>Accusantium</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
						</div>
						<div class="col-md-3 index-abt1">
							<div class="abt-img"><i class="glyphicon glyphicon-screenshot"> </i></div>
								<h3>Dolore magna</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
						</div>
						<div class="col-md-3 index-abt1">
							<div class="abt-img"><i class="glyphicon glyphicon-btc"> </i></div>
								<h3>Eros Integer</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
						</div>
					</div>
				</div>
<div class="index-p">
	<div class="container">
		<div class="col-md-6 green-gird">
			<img src="images/index-p.jpg"  alt=""/>
			<img src="images/index-p1.jpg" alt="" />
		</div>
		<div class="col-md-6 index-ptext">
			<h3>Sed ut perspiciatis unde omnis iste natus error</h3>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
			<a href="about.html">Read More<i class="glyphicon glyphicon-arrow-right"> </i></a>
		</div>
	</div>
</div>
<div class="clearfix"> </div>
<div class="index-works">
	<div class="container">
		
			<div class="col">
				<div class="col2">
					<div class="col-md-4 col1">
						<figure class="effect-bubba">
							<img class="img-responsive" src="images/we.jpg" alt=""/>
							<figcaption>
								<h4>Enimet pulvinar posuere</h4>
								<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
							</figcaption>			
						</figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>Sapien eros Integer dolore magna</h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
								totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
						</div>
					</div>
					<div class="col-md-4 col1">
						<figure class="effect-bubba">
							<img class="img-responsive" src="images/we1.jpg" alt=""/>
							<figcaption>
								<h4>Enimet pulvinar posuere</h4>
								<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
							</figcaption>			
						</figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>Sapien eros Integer dolore magna</h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
								totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta 
								sunt explicabo.</p>
						</div>
					</div>
					<div class="col-md-4 col1">
						<figure class="effect-bubba">
							<img class="img-responsive" src="images/w32.jpg" alt=""/>
							<figcaption>
								<h4>Enimet pulvinar posuere</h4>
								<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
							</figcaption>			
						</figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>Sapien eros Integer dolore magna</h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem .</p>
						</div>
					</div>
				</div>
							<div class="clearfix"> </div>
			</div>
			<div class="col next-col">
				<div class="col2">
					<div class="col-md-4 col1">
						<figure class="effect-bubba">
							<img class="img-responsive" src="images/w32.jpg" alt=""/>
							<figcaption>
								<h4>Enimet pulvinar posuere</h4>
								<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
							</figcaption>			
						</figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>Accusantium</h3>
							<p>Natus error sit voluptatem accusantium doloremque. </p>
						</div>
					</div>
					<div class="col-md-4 col1">
						<figure class="effect-bubba">
							<img class="img-responsive" src="images/we1.jpg" alt=""/>
							<figcaption>
								<h4>Enimet pulvinar posuere</h4>
								<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
							</figcaption>			
						</figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>Voluptatem</h3>
							<p>Eaque ipsa quae ab illo inventore</p>
						</div>
					</div>
					<div class="col-md-4 col1">
						<figure class="effect-bubba">
							<img class="img-responsive" src="images/we.jpg" alt=""/>
							<figcaption>
								<h4>Eros Integer</h4>
								<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
							</figcaption>			
						</figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>Dolore magna</h3>
							<p>voluptatem accusan</p>
						</div>
					</div>
				</div>
							<div class="clearfix"> </div>
			</div>
			</div>
		</div>
        <script src="js/responsiveslides.min.js"></script>
 <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
<div class="slider">
	 <div class="container">
		   <div class="callbacks_container">
			  <ul class="rslides" id="slider">
				 <li>	          
					 <h3>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue</h3>		          
				 </li>
				 <li>	          
					<h3>DenounceOn the other hand, we with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue</h3>	          
				 </li>
				 <li>	          
					<h3>Righteous On the other hand, we denounce with indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue</h3>	          
				 </li>
			  </ul>
		  </div>
	  </div>
</div>
 -->
<!--footer-starts-->
	<div class="footer">
		<div class="container">
			
			<div class="copy-rights">
				<p>&copy; 2015 Stunning. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
			</div>
		</div>
<!---->
	</div>
			<!---->

<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<script src="js/jquery.min.js"> </script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<!--/script-->
	</body>
</html>
